<body>
  <div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="main-content">
      <div *ngIf="router.url === '/cart'" class="cart-background"></div>
      <div
        *ngIf="
          router.url.includes('/category') || router.url.includes('/search')
        "
        class="category-background"
      ></div>
      <div *ngIf="router.url === '/orders'" class="orders-background"></div>
      <div *ngIf="router.url === '/account'" class="account-background"></div>
      <div
        *ngIf="router.url === '/login' || router.url === '/register'"
        class="login-register-background"
      ></div>
      <div
        *ngIf="
          router.url === '/about' ||
          router.url === '/support' ||
          router.url === '/contact' ||
          router.url === '/jobs' ||
          router.url === '/community' ||
          router.url === '/conditions'
        "
        class="footer-background"
      ></div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</body>
