<div class="topHalf">
  <img src="assets/svg/logo-no-background.svg" class="logo" />
  <app-search-bar></app-search-bar>
  <div id="pages">
    <a href="/" class="pages"
      >Profile
      <mat-icon>account_circle</mat-icon>
    </a>
    <a href="/" class="pages">Orders<mat-icon>receipt-long</mat-icon></a>
    <a href="/" class="pages">Cart <mat-icon>shopping_cart</mat-icon></a>
  </div>
</div>
<div class="bottomHalf">
  <div></div>
  <a class="categories" href="">All</a>
  <a class="categories" href="">Clothing</a>
  <a class="categories" href="">Movies</a>
  <a class="categories" href="">Games</a>
  <a class="categories" href="">Groceries</a>
  <a class="categories" href="">Furniture</a>
  <a class="categories" href="">Toys</a>
  <a class="categories" href="">Household</a>
  <div></div>
</div>
