<div class="category-page" [ngClass]="{ 'with-selected-item': selectedItem }">
  <div class="content">
    <app-items-you-will-like
      class="itemsYouWillLike"
      style="display: flex; justify-content: center; align-items: center"
      (itemClicked)="onItemSelected($event)"
    ></app-items-you-will-like>

    <app-category-list
      (itemClicked)="onItemSelected($event)"
    ></app-category-list>
  </div>
  <app-item-detail
    [selectedItem]="selectedItem"
    [style.top.px]="topOffset"
    (closeButtonClick)="selectedItem = null"
    [ngClass]="{ visible: selectedItem }"
  ></app-item-detail>
</div>
