.category-page {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%; // Set the initial max-width to 100%
  transition: transform 0.3s ease-in-out, max-width 0.3s ease-in-out; // Add a smooth transition for max-width property
}

.with-selected-item .content {
  max-width: 70%; // Adjust this value to control the maximum width of the content when an item is selected
}

app-item-detail {
  width: 30%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; // Prevent interaction with the hidden item-detail component
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, top 0.3s ease-in-out;
}

.with-selected-item app-item-detail {
  transform: translateX(235%);
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .with-selected-item .category-list {
    transform: translateX(-20%);
  }
}

.itemsYouWillLikePlaceholder {
  height: 200px;
  width: 100%;
}
