<div class="container">
  <h1>Your Orders</h1>
  <div *ngIf="orders.length === 0" class="no-orders-message">
    You have no orders yet.
  </div>
  <div class="order-card" *ngFor="let order of orders">
    <div class="order-header">
      <div>
        <h2>Order ID: {{ order._id }}</h2>
        <h3>Status: {{ order.status }}</h3>
        <p>Customer: {{ order.customerName }}</p>
        <p>
          Order Date: {{ datePipe.transform(order.created_at, "shortDate") }}
        </p>

        <p>Total: ${{ order.totalCost }}</p>
      </div>
      <div class="status-icon">
        <mat-icon *ngIf="order.status == 'delivered'" style="color: green"
          >done</mat-icon
        >
        <mat-icon *ngIf="order.status == 'processing'" style="color: orange"
          >autorenew</mat-icon
        >
        <mat-icon *ngIf="order.status == 'shipping'" style="color: blue"
          >local_shipping</mat-icon
        >
        <mat-icon *ngIf="order.status == 'cancelled'" style="color: red"
          >cancel</mat-icon
        >
      </div>
    </div>
    <button (click)="viewOrder(order)">View Order</button>
  </div>
</div>
