<div class="container">
  <h1>Your Orders</h1>
  <div class="order-card" *ngFor="let order of orders">
    <div class="order-header">
      <div>
        <h2>Order ID: {{ order._id }}</h2>
        <h3>Status: {{ order.status }}</h3>
        <p>Customer: {{ order.customerName }}</p>
        <p>Order Date: {{ order.created_at }}</p>
        <p>Total: ${{ order.totalCost }}</p>
      </div>
      <div class="status-icon">
        <mat-icon *ngIf="order.status == 'Delivered'" style="color: green"
          >done</mat-icon
        >
        <mat-icon *ngIf="order.status == 'processing'" style="color: orange"
          >autorenew</mat-icon
        >
        <mat-icon *ngIf="order.status == 'Shipped'" style="color: blue"
          >local_shipping</mat-icon
        >
        <mat-icon *ngIf="order.status == 'Cancelled'" style="color: red"
          >cancel</mat-icon
        >
      </div>
    </div>
    <button>View Order</button>
  </div>
</div>
