<div class="item-detail">
  <button mat-icon-button class="close-button" (click)="onCloseButtonClick()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="image-container">
    <img [src]="selectedItem.imageSrc" alt="" class="detail-image" />
  </div>
  <div class="content-container">
    <h2>{{ selectedItem.title }}</h2>
    <div class="rating-container">
      <mat-icon *ngFor="let star of filledStars">star</mat-icon>
      <mat-icon *ngFor="let star of emptyStars">star_border</mat-icon>
      <span class="rating-number">{{ rating.toFixed(1) }}</span>
    </div>

    <div class="description-container">
      <p>{{ selectedItem.description }}</p>
    </div>
    <p>Price: ${{ selectedItem.price }}</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
</div>
