<div class="item-detail">
  <button mat-icon-button class="close-button" (click)="onCloseButtonClick()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="image-container">
    <img [src]="selectedItem.imageSrc" alt="" class="detail-image" />
  </div>
  <div class="content-container">
    <h2>{{ selectedItem.title }}</h2>
    <div class="description-container">
      <p>{{ selectedItem.description }}</p>
    </div>
    <p>Price: ${{ selectedItem.price }}</p>
    <button class="add-to-cart">Add to cart</button>
  </div>
</div>
