<div class="topHalf">
  <img src="assets/svg/logo-no-background.svg" class="logo" />
  <app-search-bar></app-search-bar>
  <div id="pages">
    <a href="/" class="pages"
      >Profile
      <mat-icon>account_circle</mat-icon>
    </a>
    <a href="/" class="pages">Orders<mat-icon>receipt-long</mat-icon></a>
    <a href="/" class="pages">Cart <mat-icon>shopping_cart</mat-icon></a>
  </div>
</div>
<div class="bottomHalf">
  <div></div>
  <a class="categories" routerLink="/">All</a>
  <a class="categories" routerLink="/category/clothing">Clothing</a>
  <a class="categories" routerLink="/category/movies">Movies</a>
  <a class="categories" routerLink="/category/games">Games</a>
  <a class="categories" routerLink="/category/groceries">Groceries</a>
  <a class="categories" routerLink="/category/furniture">Furniture</a>
  <a class="categories" routerLink="/category/toys">Toys</a>
  <a class="categories" routerLink="/category/household">Household</a>
  <div></div>
</div>
