:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.cart-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: start;
}

.billing-form {
  flex: 1;
  min-width: 50%;
}

.empty-cart-message {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.app-item {
  max-width: 100%;
  height: auto;
}

.items-container > app-item {
  cursor: default;
}

.items-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
