<div class="cart-container">
  <app-billing-form
    class="billing-form"
    (formSubmitted)="createOrder($event)"
  ></app-billing-form>

  <div class="items-section">
    <h2 class="cart-header">Items in Cart</h2>
    <div class="items-container">
      <ng-container *ngIf="cart.length; else emptyCart">
        <div *ngFor="let item of cart">
          <app-item class="app-item" [props]="item"></app-item>
          <button class="remove-btn" (click)="removeItemFromCart(item)">
            <mat-icon aria-label="Remove item">close</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart-message">Your cart is empty.</div>
      </ng-template>
    </div>
  </div>
</div>
