<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="cart-container">
  <app-billing-form
    class="billing-form"
    [user]="user"
    (formSubmitted)="createOrder($event)"
  ></app-billing-form>
  <div class="items-section">
    <h2 class="cart-header">Items in Cart</h2>
    <div class="items-container" *ngIf="!isLoading; else loading">
      <ng-container *ngIf="cart.length; else emptyCart">
        <div *ngFor="let item of cart; let i = index" class="cart-item">
          <app-item class="app-item" [props]="item"></app-item>
          <div class="item-controls">
            <div class="control-wrapper">
              <div class="quantity-control">
                <button class="quantity-btn" (click)="decrementQuantity(i)">
                  -
                </button>
                <span class="quantity">{{ quantities[i] }}</span>
                <button class="quantity-btn" (click)="incrementQuantity(i)">
                  +
                </button>
              </div>
              <!-- <button class="remove-btn" (click)="removeItemFromCart(item)">
                <mat-icon aria-label="Remove item">close</mat-icon>
              </button> -->
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart-message">Your cart is empty.</div>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="items-container">
        <app-skeleton-item></app-skeleton-item>
        <app-skeleton-item></app-skeleton-item>
      </div>
    </ng-template>
  </div>
</div>
