<div class="cart-container">
  <app-billing-form class="billing-form"></app-billing-form>
  <div class="items-section">
    <h2 class="cart-header">Items in Cart</h2>
    <div class="items-container">
      <ng-container *ngIf="cartItems.length; else emptyCart">
        <app-item
          class="app-item"
          *ngFor="let item of cartItems"
          [props]="item"
        ></app-item>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart-message">Your cart is empty.</div>
      </ng-template>
    </div>
  </div>
</div>
