:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .billing-form {
    min-width: 100%;
  }
}

.cart-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: start;
}

.billing-form {
  flex: 1;
  min-width: 50%;
}

.empty-cart-message {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.app-item {
  max-width: 100%;
  height: auto;
}

.items-container > app-item {
  cursor: default;
}

.items-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 10px;
}

.control-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background 0.3s;
}

.quantity-btn:hover {
  background: none;
}

.quantity {
  font-size: 20px;
  margin: 0 10px;
}

.cart-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--primary-brown);
  background: var(--primary-grey);
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.remove-btn:hover {
  background: var(--secondary-grey);
}

.total-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid gray;
  h3 {
    margin-right: 10px;
  }
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
  }
}

.billing-form {
  grid-column: span 2;
}

.total-section {
  grid-column: span 2;

  @media (min-width: 768px) {
    grid-column: 2;
  }
}
