:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.cart-header {
  margin-bottom: 1rem; /* adjust as necessary */
  font-size: 2rem; /* adjust as necessary */
}


.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* this will create three columns of equal width */
  gap: 1rem; /* you can adjust this as per your needs */
  justify-items: center; /* this will center the items horizontally in their respective grid cells */
  align-items: start; /* this will align the items to the top of their respective grid cells */
}

.billing-form {
  flex: 1;
  min-width: 50%;
}

.empty-cart-message {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.app-item {
  max-width: 100%; // Make sure the width does not exceed the grid cell
  height: auto; // Let the height be determined by the content
}

.items-container > app-item {
  cursor: default;
}
