<div class="main">
  <h2 class="justForYou">Just for you</h2>
  <div class="images">
    <mat-icon class="icons">keyboard_arrow_left</mat-icon>
    <img
      src="../../assets/itemImages/blackCouch.jpg"
      alt=""
      class="itemImages"
    />
    <img src="../../assets/itemImages/ds.jpg" alt="" class="itemImages" />
    <img
      src="../../assets/itemImages/yellowDress.jpg"
      alt=""
      class="itemImages"
    />
    <mat-icon class="icons">keyboard_arrow_right</mat-icon>
  </div>
  <mat-icon class="icons">more_horiz</mat-icon>
</div>
