<div class="bottomHalf">
  <div></div>
  <div class="links">
    <div class="spacer"></div>
    <a class="categories" href="/about">About</a>
    <a class="categories" href="/support">Support</a>
    <a class="categories" href="/contact">Contact</a>
    <a class="categories" href="/jobs">Jobs</a>
    <a class="categories" href="/community">Community</a>
    <div class="spacer"></div>
  </div>
  <div class="copywrite">
    <h3>
      &copy; 2023, Markelo Inc. All Rights Reserved
      <a href="" class="conditionsOfUse">Conditions of Use</a>
    </h3>
  </div>
</div>
