<div class="bottomHalf">
  <div></div>
  <div class="links">
    <div></div>
    <div></div>
    <div></div>
    <a class="categories" href="">About</a>
    <a class="categories" href="">Support</a>
    <a class="categories" href="">Contact</a>
    <a class="categories" href="">Jobs</a>
    <a class="categories" href="">Community</a>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="copywrite">
    <h3>
      &copy; 2023, Markelo Inc. All Rights Reserved
      <a href="" class="conditionsOfUse">Conditions of Use</a>
    </h3>
  </div>
</div>
